body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    margin: 0;
    padding: 0;
    background-color: #0079bf;
    font-size: 13pt;

    font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

#container {
    margin: 2em;
}

main {
    flex: 1 0 auto;
}

footer .footer-copyright {
    text-align: right;
    padding-right: 1em;
}

.brand-logo {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 1.7em !important;
    letter-spacing: 3px;
    margin-left: 0.5em;
}

.brand-logo-AA {
    color: #3F474A;
}

.copy-left {
    display: inline-block;
    text-align: right;
    margin: 0;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: "FlipH";
}

nav .boards-btn {
    margin-left: 5px;
}

nav .board-icon {
    font-size: 1.1em !important;
    height: 32px !important;
    line-height: 32px !important;
}

.modal-content {
    color: black;
}

.radio-btn-margin {
    margin-right: 20px;
}

.page-footer {
    padding-top: 0 !important;
}

.box {
    width: 40%;
    min-width: 300px;

    background-color: rgba(255, 255, 255, 0.87);
    border-radius: 20px;
    padding: 2em;
    margin-top: 1em;
}

.box button {
    width: 150px;
    margin-left: 3em;
}

.box .header {
    color: #4B4B4B;
    font-family: monospace;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin: 30px 0;
}

.box .error {
    color: #962828;
    font-size: 1em;
    margin-top: 1em;
}

.box .alternative {
    text-align: right;
}

.welcome {
    font-family: Tahoma, Geneva, sans-serif;
    letter-spacing: 2px;
}

.welcome .msg {
    font-size: 1.4em;
    color: #C11F90;
}

.welcome a {
    font-size: 1.05em;
    color: black;
    text-decoration: underline;
}

nav, footer, .footer-copyright, .other-nav ul, .other-nav li {
    height: 40px !important;
    line-height: 40px !important;
}

.btn, .btn-large, .btn-flat {
    font-size: 0.9em !important;
    height: 30px !important;
    line-height: 30px !important;
    vertical-align: middle !important;
}

.other-nav {
    background-color: rgba(175, 200, 44, 0.92);
    margin-top: 0.3em;
}

.dropdown-content {
    width: 15em !important;
}

#toast-container {
    right: 50% !important;
}

.succ-done {
    background-color: rgba(55, 167, 68, 0.85);
    color: #f1f1f1;
    font-size: 1.3em;
}

.bList-container {
    padding: 10px 10px 0 15px;
}

.bList-one {
    width: 250px;
    height: 100%;

    padding: 5px 10px;
    background-color: rgba(180, 47, 227, 0.5);
    border-radius: 5px;
    color: white;
    margin-right: 3px;

    float: left;
}

.bList-add-pre a {
    color: #1ad5ac;
    font-size: 0.85em;
    text-decoration: underline;
}

.bList-add form input {
    background-color: white;
    color: black;
    font-size: 0.9em;
    height: 30px;
    margin: 0;
    padding: 5px 7px !important;
}

.bList-add form button {
    height: 30px;
    padding: 3px 35px;
}

#bList-add-close:hover,
.bList-one-del:hover,
.bList-one-close:hover {
    color: red;
}

#bList-add-close,
.bList-one-del,
.bList-one-close {
    color: black;
    border: 0;
}

.bList-add input::-webkit-input-placeholder,
.bList-add input:-moz-placeholder,
.bList-add input::-moz-placeholder,
.bList-add input:-ms-input-placeholder {
    color: red;
}

.bList-add form i {
    vertical-align: middle;
}

.bList-one .separator {
    padding-top: 3px;
}

.bList-one-del {
    float: right;
}

.bList-card-container {
    font-size: 0.8em;
}

.bList-card {
    background-color: rgba(77, 242, 163, 0.10);
    border-radius: 10px;
    margin-top: 7px;
    padding: 5px;
}

.card-edit-form,
.card-add-form {
    height: 100%;
    color: white;
}

.card-edit-form input,
.card-add-form input {
    background-color: white;
    color: black;
    font-size: 0.9em;
    height: 30px;
    margin: 0;
    padding: 5px 7px !important;
}

.card-edit-form button,
.card-add-form button {
    height: 30px;
    padding: 3px 35px;
}

.card-edit-form i,
.card-add-form i {
    vertical-align: middle;
}

.add-new-card {
    color: #1ad5ac;
    font-size: 0.85em;
    text-decoration: underline;
}

.card-cancel {
    color: black;
    border: 0;
    float: right;
    padding-top: 3px;
}

.card-cancel:hover {
    color: red;
}

.card-delete-btn-image {
    font-size: 1.3rem !important;
    line-height: inherit !important;
}

.card-delete-btn {
    padding: 0 !important;
}

.card-name-js {
    color: white;
}

.history-right {
    background-color: gray;
    float: right;
    padding: 0.5em;
    width: 300px;
}

.history-item {
    background-color: rgba(255, 236, 61, 0.90);
    border-top: 1px solid red;
    font-size: 0.7em;
    padding: 0.3em;
}

.history-item:nth-of-type(1) {
    border: none !important;
}

.history-date {
    font-size: 0.9em;
    color: #130D15;
}

.history-text {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

.bList-cards-list {
    padding-bottom: 1em;
}

.card-model-header {
    margin-bottom: 40px;
}

.attachment-delete {
    color: black;
}

.card-modal-sector {
    margin-top: 50px;
}

.card-modal-comment {
    margin-top: 10px;
}

.delete-comment, .edit-comment, .save-comment {
    margin-left: 15px;
}

.delete-comment:hover {
    text-decoration: underline;
}

.edit-comment:hover {
    text-decoration: underline;
}

.save-comment:hover {
    text-decoration: underline;
}

.comment-text {
    margin-right: 15px;
}

.teams-button {
    background-color: forestgreen;
}

.team-main {
    margin: 3em;
}

.team-one, .team-add {
    background-color: rgba(255, 255, 255, 0.87);
    padding: 0.6em;
    border-radius: 3px;
    margin-bottom: 1em;
}

#team-add {
    background-color: #4E4E4E;
}

#team-add input[type="text"] {
    color: white;
}

.team-one ul {
    margin-left: 1em;
    margin-top: 0.5em;
}

.team-one a {
    font-size: 0.8em;
}

.team-one .team-name {
    font-size: 1.6em;
}

.team-name {
    color: black;
}

.editable-clear-x {
    display: none !important;
}

.editable-input input {
    all: unset !important;
}

.owner-card {
    background-color: #ee6e73;
}
