@(board: Board)

@main(board.name) {
    <nav class="other-nav">
        <div class="nav-wrapper">
            <ul>
                <li><a class="btm waves-effect waves-light btn modal-trigger boards-btn" href="#edit-board-modal">@board.name</a></li>
                <li>
                    <form action="@controllers.boards.routes.BoardController.delete().url" method="post" >
                        <input type="hidden" name="boardId" value="@board.id"/>
                        <button type="submit" class="btn btn-floating waves-effect waves-light boards-btn red">
                            <i class="board-icon material-icons">delete</i>
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>

    <form id="edit-board-modal" class="modal">
        <div class="modal-content">
            <h4>@Messages("modal.board.crud.header.rename")</h4>
            <div class="row"></div>
            <div class="row">
                <div class="input-field">
                    <label for="name">@Messages("modal.board.crud.label.newName")</label>
                    <input id="name" name="name" type="text" class="validate" value="@board.name">
                    <input type="hidden" name="renameId" value="@board.id">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat" onclick="boardRename()">
            @Messages("modal.board.crud.confirm")
            </a>
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">@Messages("modal.board.crud.button.cancel")</a>
        </div>
    </form>
}