@(card: Card, hasEditRights: Boolean)
<div class = "js-card-member">
    <h6>@Messages("card.modal.member.assigned")</h6>
    <hr/>

    @if(hasEditRights){
        @if(card.cardMember != null) {
            <a class='dropdown-button btn js-card-member' href='#' data-activates='addMemberToCard-@card.id'>@card.cardMember.username</a>
            <a class='dropdown-button btn red js-delete-member' href='#' style="display:inline-block;" onclick="deleteMemberFromCard(@card.id, this)">
                @Messages("card.modal.member.unassign")
            </a>
        } else{
            <a class='dropdown-button btn js-card-member' href='#' data-activates='addMemberToCard-@card.id'>
                @Messages("card.modal.member.assign")
            </a>
            <a class='dropdown-button btn red js-delete-member' href='#' style="display:none;" onclick="deleteMemberFromCard(@card.id, this)">
                @Messages("card.modal.member.unassign")
            </a>
        }

        <ul id='addMemberToCard-@card.id' class='dropdown-content'>
        @for(user <- card.list.board.team.users){
            <li><a href="#!" onclick="addMemberToCard(@card.id,'@user.id', this)">@user.username</a></li>
        }
        </ul>
    } else{
        @if(card.cardMember != null) {
            <span>@card.cardMember.username</span>
        }
    }
</div>
