@(bList: BList, hasEditRights: Boolean)

@sortable() = @{
    if(hasEditRights) "sortable" else ""
}

<div class="bList-card-container">
    <ul class="bList-cards-list @sortable">
        @for(card <- bList.cards) {
            <li class="bList-card ui-state-default" data-id="@card.id">
                <a class="card-name-js">@card.name</a>
                <form class="card-edit-form card-edit-form-js pure-form" style="display: none">
                    <input type="hidden" name="listId" value="@bList.id"/>
                    <input type="hidden" name="cardId" value="@card.id"/>
                    <input type="text" name="newName" value="@card.name"/>
                    <div class="separator">
                        <button type="submit" class="button-success pure-button">
                            @Messages("page.board.card.edit.button.submit")
                        </button>

                        <a class="card-cancel card-cancel-edit-js" href="#">
                            <i class="material-icons board-icon">close</i>
                        </a>
                    </div>
                </form>
            </li>
        }
    </ul>
    @if(hasEditRights){
        <div>
            <a class="add-new-card" href="#">@Messages("page.board.card.add")</a>
        </div>

        <div class="bList-card add-card" style="display: none">
            <form class="card-edit-form pure-form" >
                <input type="hidden" name="listId" value="@bList.id"/>
                <input type="text" name="name" placeholder="@Messages("page.board.card.add.label.name")"/>
                <div class="separator">
                    <button type="submit" class="button-success pure-button">
                        @Messages("page.board.card.add.button.submit")
                    </button>

                    <a class="card-cancel card-cancel-add-js" href="#">
                        <i class="material-icons board-icon">close</i>
                    </a>
                </div>
            </form>
        </div>
    }
</div>