@(bList: BList, hasEditRights: Boolean)

@sortable() = @{
    if(hasEditRights) "sortable" else ""
}

<div class="bList-card-container">
    <ul id="bList-cards-list" class="@sortable">
        @for(card <- bList.cards) {
            <li class="bList-card ui-state-default">
            @card.name
            </li>
        }
        @if(hasEditRights){
            <div class="card-add">
                <a href="#">dodaj karte</a>
            </div>

            <li class="bList-card" style="display: none">
                <form class="card-edit-form pure-form" >
                    <input type="hidden" name="modifiedID"/>

                    <input type="text" name="newName"
                    placeholder="nazwa"/>
                    <div class="separator">
                        <button type="submit" class="button-success pure-button">
                        zapisz
                        </button>

                        <a
                        class="bList-one-close"
                        href="#"><i class="material-icons board-icon">zamknij</i></a>
                    </div>
                </form>
            </li>
        }
    </ul>
</div>