@(card: Card, hasEditRights: Boolean)

@if(hasEditRights) {
    @helper.form(action = controllers.boards.routes.CommentController.add,
        'class -> "modal-add-comment",
        'method -> "post", 'enctype -> "multipart/form-data") {

        <input type="hidden" name="cardId" value="@card.id"/>

        <div class="input-field">
            <label for="commentText">@Messages("card.modal.comments.writeComment")</label>
            <input name="commentText" id="commentText" type="text" autofocus="autofocus"/>
            <button class=" waves-effect waves-green btn-flat" type="submit" name="action">
                @Messages("card.modal.comments.submit")
            </button>
        </div>
    }
}

<h6 class ="card-modal-sector">@Messages("card.modal.comments.header")</h6>
<hr/>

<ul class="js-comments">
@for( comment <- card.comments) {
    <li data-id="@comment.id" class="card-modal-comment">
        @comment.getFormattedDateTime <br/>
        @comment.author:  @comment.text
    </li>
}
</ul>
