@(title: String)
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>TrAAllo - @title</title>

        <link rel="shortcut icon" href="@routes.Assets.versioned("favicon.ico?")" />

        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/pureext.css")" />
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/style.css")" />

        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
        <script src="@routes.Assets.versioned("javascripts/script.js")"></script>
    </head>
    <body>
        <div id="container">