<nav>
    <div class="nav-wrapper">
        <a href="@routes.Application.index()" class="brand-logo center">
            Tr<span class="brand-logo-AA">AA</span>llo</a>

        @if(User.isLoggedIn) {
            <a class="dropdown-button btn boards-btn" href="#" data-activates="board-dropdown">
                <i class="material-icons left board-icon">dashboard</i>
                @Messages("navbar.action.boards")
            </a>
            <ul id="board-dropdown" class="dropdown-content boards-btn">
                @for(board <- User.loggedInUser().getAllBoards) {
                    <li>
                        <a href="@controllers.boards.routes.BoardController.show(board.id)">
                            @{
                                if(board.isPrivate) {
                                        <i class="material-icons left board-icon">lock</i>
                                } else if(board.isPublic){
                                        <i class="material-icons left board-icon">lock_open</i>
                                } else{
                                        <i class="material-icons left board-icon">supervisor_account</i>
                                }
                            }
                            @board.name
                        </a>
                    </li>
                }
                <li class="divider"></li>
                <li>
                    <a href="#new-board-modal" class="modal-trigger"> @Messages("navbar.action.addNewBoard")</a>
                </li>
            </ul>
            <a class="btn boards-btn teams-button" href="@others.routes.TeamController.list()">
                <i class="material-icons left board-icon">dashboard</i>
                @Messages("navbar.action.Teams")
            </a>
        }

        <ul id="nav-mobile" class="right hide-on-med-and-down">
        @if(User.isLoggedIn) {
            <li><a href="#">@User.loggedInUser().username</a></li>

            <li><a href="@controllers.authentication.routes.AuthLogout.logout()">
            @Messages("navbar.action.logout")</a></li>
        } else {
            <li><a href="@controllers.authentication.routes.AuthLogin.login()">
            @Messages("navbar.action.login")</a></li>

        }
        </ul>
    </div>
</nav>
@if(User.isLoggedIn) {

<form id="new-board-modal" class="modal">
    <div class="modal-content">
        <h4>@Messages("modal.board.crud.header.new")</h4>

        <div class="row"></div>
        <div class="row">
            <div class="input-field">
                <input id="name" name="name" type="text" class="validate">
                <label for="name">@Messages("modal.board.crud.label.name")</label>
            </div>
        </div>
        <div class="row">
            <input name="teamId" value="" class="js-selected-team-id" hidden></input>
            <div class="input-field">
                <input name="typeCode" type="radio" id="private" value="1" checked="checked"/>
                <label class="radio-btn-margin" for="private">@Messages("modal.board.crud.label.private")</label>
                <input name="typeCode" type="radio" id="public" value="0"/>
                <label class="radio-btn-margin" for="public">@Messages("modal.board.crud.label.public")</label>
                @if(User.loggedInUser().teams.size() > 0){
                    <input name="typeCode" type="radio" id="team" value="2"/>
                    <label class="radio-btn-margin dropdown-button" for="team" data-activates='team-dropdown'>team</label>
                    <ul id="team-dropdown" class="dropdown-content radio-btn-margin">

                        @for(team <- User.loggedInUser().teams) {
                        <li>
                            <a href="#" onclick="selectTeam('@team.name','@team.id', this)">
                            @team.name
                            </a>
                        </li>
                    }
                    </ul>
                }
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <a href="#!" class=" modal-action waves-effect waves-green btn-flat" onclick="boardAdd()">
        @Messages("modal.board.crud.button.add")
        </a>

        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">
        @Messages("modal.board.crud.button.cancel")
        </a>
    </div>
</form>

}
