@import controllers.authentication.AuthSignUp
@(form: Form[AuthSignUp.Register])


@main(Messages("page.signup.title")){

    <div class="row box signup">

        <p class="header">
        @Messages("page.signup.header")
        </p>

        @helper.form(action = controllers.authentication.routes.AuthSignUp.register, 'class -> "col s12") {

            <div class="row">
                <div class="input-field col s12">
                    <label for="username">@Messages("page.signup.label.username")</label>
                    <input id="username" name="username" type="text" value="@form.field("username").value()" />
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <label for="password">@Messages("page.signup.label.password")</label>
                    <input id="password" name="password" type="password" />
                </div>
            </div>

            <div>
                <button class="btn waves-effect waves-light button-small" type="submit" name="action">
                @Messages("page.signup.submit")
                </button>
            </div>
            <div class="alternative">
                <a href="@controllers.authentication.routes.AuthLogin.login()">@Messages("page.signup.alternative")</a>
            </div>

            @if(form.hasErrors) {
                <div class="error">
                    <span><b>@Messages("page.signup.error")</b></span>

                    <ul>
                        @for(error <- form.globalErrors) {
                            <li>@Messages(error.message)</li>
                        }

                        @for((field, value) <- form.data()) {
                            @for(err <- form(field.toString).errors) {
                                <li>@Messages("page.signup.label." + field.toString):
                                    @Messages(err.message, err.arguments().get(0))</li>
                            }
                        }
                    </ul>
                </div>
            }

        }

    </div>

}

