@(user: User)

@main(Messages("page.team.title")) {

    <div class="team-main" id="team-main">

        <div id="team-main-ones">

        @for( team <- user.teams) {
            @teamone(team)
        }

        </div>

        <div id="team-add" class="team-add">
            <form id="team-add-form" class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <input placeholder="@Messages("page.tem.add.teamName.placeholder")" id="teamName"
                        name="teamName" type="text" class="validate">

                        <label for="teamName">@Messages("page.tem.add.teamName.label")</label>
                    </div>
                </div>
            </form>
        </div>
    </div>

}
